NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SHIPPING_COUNTRIES=GB,IE,US,CA,FR,DE,ES,IT,NL,BE,PT
RESEND_API_KEY=
SHIPPO_API_KEY=
SHIPPO_FROM_NAME=
SHIPPO_FROM_COMPANY=
SHIPPO_FROM_STREET1=
SHIPPO_FROM_STREET2=
SHIPPO_FROM_CITY=
SHIPPO_FROM_STATE=
SHIPPO_FROM_ZIP=
SHIPPO_FROM_COUNTRY=
SHIPPO_FROM_PHONE=
SHIPPO_FROM_EMAIL=
ADMIN_EMAILS=
CONTACT_EMAIL=
RESEND_FROM_WELCOME="APERTOS Welcome <onboarding@resend.dev>"
RESEND_FROM_ORDERS="APERTOS Orders <onboarding@resend.dev>"
RESEND_FROM_SUPPORT="APERTOS Support <onboarding@resend.dev>"
