NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SHIPPING_COUNTRIES=GB,IE,US,CA,FR,DE,ES,IT,NL,BE,PT
RESEND_API_KEY=
EASYPOST_API_KEY=
EASYPOST_FROM_NAME=
EASYPOST_FROM_COMPANY=
EASYPOST_FROM_STREET1=
EASYPOST_FROM_STREET2=
EASYPOST_FROM_CITY=
EASYPOST_FROM_STATE=
EASYPOST_FROM_ZIP=
EASYPOST_FROM_COUNTRY=
EASYPOST_FROM_PHONE=
EASYPOST_FROM_EMAIL=
ADMIN_EMAILS=
CONTACT_EMAIL=
NEWSLETTER_NOTIFY_EMAIL=
RESEND_FROM_WELCOME="APERTOS Welcome <onboarding@resend.dev>"
RESEND_FROM_ORDERS="Apertos Fightwear <orders@apertosfightwear.com>"
RESEND_FROM_SUPPORT="APERTOS Support <onboarding@resend.dev>"
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_SITE_URL=https://apertosfightwear.com
