@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-canvas text-ink font-sans antialiased;
}

* {
  @apply border-line;
}

.text-balance {
  text-wrap: balance;
}
